
<style>
@import url('https://fonts.googleapis.com/css?family=Lato');
</style>




header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

section {
	padding: 20px;
	margin-bottom: 20px;
}


p {
	font-size: 1em;
	line-height: 1.5em
}

figcaption {
	font: normal 0.75/2.5em font-family: 'Lato', sans-serif;
	color: rgba(255,0,0,.75);
	text-align: left;
}




/*.milk-text {
	font: normal 0.75/2.5em font-family: 'Lato', sans-serif;
	color: blue;
}*/



#logo {
	background: #f1edf7;
}



#logo h1 {
	/*background: grey;*/
}

#logo h2 {
	/*background: purple;*/
}

#details a:link, #details a:visited {
	color: purple;
	text-decoration: none;
}


#details a:hover {
	color: yellow;
	text-decoration: underline;
}

#details a:active {
	color: red;
	text-decoration: none;
}


/*MEDIA*/

img, video, audio {
	max-width: 100%; 
}


/*LAYOUT*/


* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}



.wrapper {
	width: 1080px;
	margin: 0 auto;
	/*background: #eee;*/
}



.col-1 {
	float: left;
	width: 32%;
	background: #bdeaef;
	padding: 5px;
	text-align: center;
}


.col-2 {
	float: left;
	width: 66%;
	background: : #0050ff;
}


.col-3 {
	background: #eff4f7;
}


.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}


[class*="col-"] {
	margin-left: 2%;
}

.first {
	margin-left: 0%
}










#details a:active {
  color: red;
}
